// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

main .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}

.wrapper {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_index_table th {
    text-align: center;

}

.product_index_table td {
    text-align: center;

}

.form-custom-style {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.form-custom-style label {
    display: flex;
    flex-direction: column;
}

.index-table-img {
    width: 100px;
    height: 100px;
}

.color-container {
    height: 50px;
    width: 50px;
}

#exTab2 h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}
.chartjs-render-monitor{
    min-width:500px;
    min-height:500px
}
